ResProbe/.idea
ResProbe/out
ResProbe/target
ResProbeClient/.idea
ResProbeClient/out
ResProbeClient/target

resprobeclientgui/.dart_tool
resprobeclientgui/idea
resprobeclientgui/android/**/gradle-wrapper.jar
resprobeclientgui/android/.gradle
resprobeclientgui/android/captures
resprobeclientgui/android/gradlew
resprobeclientgui/android/gradlew.bat
resprobeclientgui/android/local.properites
resprobeclientgui/android/**/GeneratedPluginRegistrant.java
resprobeclientgui/android/key.properites

resprobeclientgui/ios/**/*.mode1v3
resprobeclientgui/ios/**/*.mode2v3
resprobeclientgui/ios/**/*.moved-aside
resprobeclientgui/ios/**/*.pbxuser
resprobeclientgui/ios/**/*.perspectivev3
resprobeclientgui/ios/**/*sync/
resprobeclientgui/ios/**/.sconsign.dblite
resprobeclientgui/ios/**/.tags*
resprobeclientgui/ios/**/.vagrant/
resprobeclientgui/ios/**/DerivedData/
resprobeclientgui/ios/**/Icon?
resprobeclientgui/ios/**/Pods/
resprobeclientgui/ios/**/.symlinks/
resprobeclientgui/ios/**/profile
resprobeclientgui/ios/**/xcuserdata
resprobeclientgui/ios/.generated/
resprobeclientgui/ios/Flutter/App.framework
resprobeclientgui/ios/Flutter/Flutter.framework
resprobeclientgui/ios/Flutter/Generated.xcconfig
resprobeclientgui/ios/Flutter/app.flx
resprobeclientgui/ios/Flutter/app.zip
resprobeclientgui/ios/Flutter/flutter_assets/
resprobeclientgui/ios/ServiceDefinitions.json
resprobeclientgui/ios/Runner/GeneratedPluginRegistrant.*

ResProbe/.classpath
ResProbe/.project
ResProbe/.settings/
ResProbeClient/.classpath
ResProbeClient/.project
ResProbeClient/.settings/